.megaMenu {
  display: flex;
  min-height: 28rem;
  z-index: 1;
}

.megaMenu__linkMenu-container {
  z-index: 1;
  box-shadow: 0 2px 10px -2px rgb(0 0 0 / 15%);
}

.megaMenu__linkMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: max-content;
  background-color: #fff;
  padding: 0.5rem;

  height: 100%;
  padding-right: 1rem;
}

.megaMenu__linkMenu li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #343434;
  font-weight: lighter;
  font-size: 0.9rem;
}

.megaMenu__slideShow-container {
  min-height: 100%;
  width: 80%;
  flex-grow: 1;
  background: #fff;
}
