.eMagAnnouncements {
  display: flex;
  margin: 1rem 0;

  font-size: 0.8rem;
  text-align: center;
  background-color: #fff;
}

.eMagAnnouncements_announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  flex: 1;
  position: relative;
}

.eMagAnnouncements_announcement:not(:last-child):after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 25%;
  width: 1px;
  height: 50%; /* or 100px */
  border-left: 1px solid #ebebeb;
}

.eMagAnnouncements_announcement__header {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}

.eMagAnnouncements_announcement__body {
  margin: 0.5rem 0;
}

.eMagAnnouncements_announcement__header img {
  width: 20%;
}

.eMagAnnouncements_announcement__cta a {
  color: #343434;
  font-weight: bolder;
  font-size: 0.8rem;
}
