.emagNavSec {
  background: linear-gradient(to right, #ff1e24, #a33389, #0082e6);
  padding-top: 0.4rem;
  z-index: 10;
  position: relative;
}

.emagNavSec__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  list-style: none;
  gap: 1.5rem;
}

.emagNavSec__links li a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  width: max-content;
}

.emagNavSec__links li:last-child {
  margin-left: auto;
}

.emagNavSec__links li:first-child {
  background-color: #fff;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  height: 1.5rem;
  padding: 0 0.4rem 0 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emagNavSec__links li:first-child a {
  color: #343434;
}
