.emagNav {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  background-color: #fff;
  font-size: 0.9rem;
  gap: 1.8rem;
  z-index: 2;
}

.emagNav__logo {
  width: 6rem;
  min-width: 3rem;
}

.emagNav__hoverLink {
  position: relative;
}

.emagNav__hoverLink .hoverableLink__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  text-decoration: none;
  color: #343434;
  width: max-content;
}

.emagNav__hoverLink i {
  color: #1d79df;
}

.emagNav__hoverLink .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
}

.emagNav__searchBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  border: 1px #1d79df solid;
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  min-width: 10rem;
}

.emagNav__searchBox input {
  border: none;
  width: 100%;
}

.emagNav__searchBox i {
  color: #1d79df;
}
